*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-image: url(bg.jpg);

  background-size: auto;
  background-repeat: no-repeat;
}
.data {
  border: 2px solid whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  margin-left: 480px;
  /* margin: 1px 434px; */
 /* padding: 2px 47px;  */
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  color: white;
  box-shadow: 2px 5px 10px 1px;
}


.heading{
  margin-bottom: 1px;
  margin-top: 61px;
  /* text-decoration-line: underline; */
  /* margin-left: 427px; */
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: white;
}

.B {
  width: 70px;
  height: 35px;
  background: linear-gradient(red, blue);
  color: white;
  box-shadow: 1px 1px 1px 1px;
}
.B:hover {
  background: linear-gradient(blue, black);
}
#t1 {
  box-shadow: -1px 1px 6px 2px;
}
@media only screen and (min-width: 200px) and (max-width:1200px){
  .nav1{
    width: 1500px;
  }
  


}
@media screen and (max-width:990px) {
  .iohome{
    padding-left: 0px;

  }
  .home{
    margin-top: -29px;
    margin-left: 19px;

  }
  
}